html {
  font-family: sans-serif;
}

.countainer {
  width: 400px;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  margin-top: 150px;
}

h1 {
  display: block;
  text-align: center;
  font-size: 4em;
  font-family: sans-serif;
}
